@charset "utf-8";

/*
    Portfolio Project 

    Author: Connor J Webdale 
    Date: 12.14.18 

    Filename: styles.css 
*/

/*Imported Fonts*/
@import url('https://fonts.googleapis.com/css?family=Muli|Staatliches');

/*HTML and Body Styles */
html {
    font-family: 'Muli', sans-serif;
    font-size: 1.3em;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

p {
    padding-left: 6px; 
    text-indent: 6px; 
}

h1, h2, h3, h4 {
    padding-left: 5px; 
}

img {
    width: 100%;
}

strong {
    font-weight: bold;
}

/*Fix background-color error where gaps were showing. */
section p {
    margin-bottom: 0;
    padding-bottom: 3vh;
}

section h1,
footer h1 {
    margin-top: 0;
    padding-top: 3vh;
}

section h2 {
    margin: 0;
}

section#education ul {
    padding-left: 5px; 
}

section#education ul ul {
    padding-left: 40px; 
}

section#education ul li {
    list-style: none; 
}

div[id^="b"] {
    padding-bottom: 2vh;
}

div[id^="b"] p {
    display: none;
}

section#experience h2 {
    display: inline; 
}

/*Moves the h1 of the first section down when the page is first viewed. */
section:first-of-type article h1 {
    padding-top: 35px;
}

section:nth-of-type(odd) {
    background-color: rgb(245, 245, 245);
}

section:nth-of-type(even) {
    background-color: rgb(231, 231, 231);
}

div#fixedBackground {
    background-image: url("../img/sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 95vh;
    line-height: 95vh;
    text-align: center;
}

div#fixedBackground main {
    color: white;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

div#fixedBackground main h1 {
    font-size: 3em;
    font-family: 'Staatliches', cursive;
    letter-spacing: 8px;
}

div#fixedBackground main hr {
    width: 50%;
    border: 4px solid white;
    height: 0;
    margin: 0 auto;
    border-radius: 5px;
}

div#fixedBackground main p {
    font-size: 2.3em;
}

/*Navigation Styles*/
nav#horizontal {
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(245, 245, 245);
}

nav#horizontal::after {
    content: "";
    display: block;
    clear: both;
}

nav#horizontal ul {
    margin: 0;
}

nav#horizontal ul li:hover  {
    color: red; 
}


nav#horizontal ul li {
    float: left;
    width: 13%;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav#horizontal li:first-of-type {
    width: 22%;
    font-size: 1.3em; 
}

nav#horizontal li:not(:first-of-type) {
    text-align: center;
}

nav#horizontal ul li a {
    text-decoration: none;
    color: black;
}

a#navicon {
    display: none;
}

/*Div/Grid Styles*/
div.row {
    clear: both;
}

div.row::after {
    content: "";
    display: table;
    clear: both;
}

div[class^="col-"] {
    float: left;
}

div.col-1-3 {
    width: 33%;
}

div.col-2-3 {
    width: 67%;
}

div.col-1-2 {
    width: 50%;
}

/*Footer Styles*/
/*Continues the alternating background colors of the sections. */
footer#contact {
    background-color: rgb(224, 224, 224)
}

/*Fixes gap of white at the bottom of the footer*/
footer#contact p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 1.5vh;
}

/*Adds some distance between the icons and the text. */
i.fa-home, i.fa-phone, i.fa-mobile, i.fa-envelope {
    padding-right: 5px; 
}

/*Mobile Design*/
@media only screen and (max-width: 640px) {
    /*HTML and Body styles*/
    html {
        font-size: 1em; 
    }

    /* section#education h2 {
        text-decoration: underline; 
    } */

    section#achievements h2:nth-of-type(2) {
        font-size: 1.2em; 
    }

    section#experience h2.subText{
        font-size: 1.3em; 
    }

    h1 {
        text-align: center; 
    }

    footer#contact p {
        padding-left: 0px; 
        font-size: .9em; 
    }



    /*Navicon styles*/
    a#navicon {
        display: block; 
    }

    nav#horizontal ul {
        display: none; 
    }

    a#navicon:hover+ul, nav#horizontal ul:hover {
        display: block; 
    }

    div[class^="col-"] {
        width: 100%; 
    }

    div.row div.col-1-3 img {
        display: none; 
    }

    header nav#horizontal a#navicon i.fa-bars {
        color: black; 
        padding: 4px; 
    }

    /*Resized navigation styles*/
    nav#horizontal ul li {
        width: 100%; 
        text-align: center; 
    }

    nav#horizontal ul li:first-of-type {
        display: none; 
    }

}

/*Tablet Design*/
@media only screen and (max-width: 1032) {

}

